*{
    margin:50;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0;
    min-height:100vh;

    background:
       linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
        url("../assests/images/pomodoro-bgd.jpg");

    background-size:cover;
    background-position:center;
}
h1{
     font-family:'Courier New', Courier, monospace;
    font-size:40px;
    color:antiquewhite;
    text-align: center;
}
p{
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    color:antiquewhite;
    text-align: center;
}
